@charset "utf-8";
/* CSS Document */

figure
	{
		display:block;
		width: 80%;
		
		margin: auto;
		
		margin-top: 40px;
		
		margin-bottom: 40px;
		
		padding: 20px;

		border:1px solid grey;

		background:#FFF;
		box-shadow: 0px 0px 10px grey;
	}
	
	figure figcaption
	{
		display:block;
		
		padding:0px 0px 15px 0px;
		
		margin-bottom: 15px;
		
		border-bottom: 1px dashed #818181;
		
		font-weight: bold;
		
	}	
	
	pre, pre *
	{
		font:normal normal normal 1em/1.4 monaco, courier, monospace;
	}
	pre
	{
		font-size:0.8em;
	}
	pre, pre code, pre samp
	{
		display:block;
		margin:0;
		
		cursor:text;
	}
	pre code, pre samp
	{
		/* enforce white-space for IE7 */
		white-space:pre;
		
		/* enforce word-wrap for mobile safari */
		word-wrap:normal;
		
		padding:10px;

		-moz-tab-size:4;
		-o-tab-size:4;
		tab-size:4;
		
		overflow-x:auto;
	}
	
	@media print
	{
		pre code
		{
			overflow-x:visible;
			white-space:pre-wrap;
		}
		pre.line-numbers div
		{
			display:none;
		}
		pre.line-numbers > code, 
		pre.line-numbers > samp
		{
			margin-left:0;
		}
	}
	
	
	
	/* double-up the syntax elements for cross-browser RTF-keystroke support */
	pre b, pre strong
	{
		font-weight:normal;
		color:#006db3;
		font-weight: bold;
	}
	pre u, pre u b, pre u strong
	{
		text-decoration:none;
		color:#083;
		font-weight: bold;
	}
	pre i, pre em, pre i *, pre em *, pre i * *, pre em * *
	{
		letter-spacing:-0.1em;
		text-decoration:none;
		font-style:normal;
		color:#c55;
		font-weight: bold;
	}